<div class="span4">
<%= render :partial => 'partials/adsence' %>
<div class="popular">
<h5>Компании <%= city.rod_case %></h5>
    <div>
        <% pop_companies.each do |pop| %>
        <p>
            <strong><%= link_to pop.name, {:controller => 'company', :action => 'show', :location => city.id, :id => pop.id}, {:class => 'large'} %></strong><br/>
            <em style="font-size:11px;"><%= pop.address %></em>
        </p>
        <% end %>
    </div>
</div>

<div class="also">
    <h5>Смотрите также</h5>
    <div>
        <% for i in 0..2 %>
          <p>
          <a href="<%= root_url + 'city/' + rand_city[i].friendly_url %>"><%= xlink[i].keyword + ' ' +  word_case[i] %></a>
          </p>
        <% end %>
    </div>
</div>
</div>