<div id="news-block" class="row">
		<div class="span16"><h2>Новости отрасли</h2></div>
			<div id="news">
				<div class="main-news span8">
					<h3><%= link_to @main_news.title, {:controller => 'news_item', :action => 'show', :id => @main_news.id} %></h3>
					<p><%= @main_news.preview %><%= link_to '...', {:controller => 'news_item', :action => 'show', :id => @main_news.id} %></p>
				</div>
				<ul class="news span8">
                    <% @news.each do |n| %>
                    <li class="news-item"><em><%= n.updated_at.strftime("%m/%d/%Y") %> </em><%= link_to n.title, {:controller => 'news_item', :action => 'show', :id => n.id} %></li>
                    <% end %>
				</ul>
			</div>
		</div>
<div class="page-header">
			<h2>Каталог предприятий</h2>
		</div>
		<div id="catalog" class="row">
			<div id="first-glance" class="span16 well">
				<ul>
					<% @million_cities.each do |city| %>
                        <li>

                          <%= link_to city.name, {:controller => 'city', :action => 'show', :friendly_url => city.friendly_url}, {:class => 'large'} %>
                        </li>
                    <% end %>
				</ul>
			</div>
            <div class="regions span16">
				<ul>
					<% @regions.each do |region| %>
                        <li class="region">

                          <%= link_to region.name, {:controller => 'region', :action => 'show', :friendly_url => region.friendly_url}, {:class => 'large'} %>
                        </li>
                    <% end %>
				</ul>
			</div>
		</div>