        <ul class="breadcrumb">
			<li><%= link_to 'Главная', root_url %><span class="divider">/</span></li>
			<li><%= @reg_name %></li>
		</ul>
        <div class="page-header">
			<h2>Мебельные компании <%= @place %></h2>
		</div>

        <div id="catalog" class="row">
			<div class="span16">
			</div>
            <% if @million_cities.size > 0 %>
			<div id="first-glance" class="span12">
				<div style="border-bottom:1px dotted #CCC; margin-bottom:15px; padding-bottom:10px;">
					<% @million_cities.each do |city| %>
                        <li>
                        <strong><%= link_to city.name, {:controller => 'city', :action => 'show', :friendly_url => city.friendly_url}, {:class => 'large'} %></strong>
                        </li>
                    <% end %>
				</div>
				
			</div>
            <% end %>
			<div class="cities span12">
			<h5>Другие города <%= @place %></h5>
				<ul>
					<% @cities.each do |city| %>
                        <li class="city">
                        <%= link_to city.name, {:controller => 'city', :action => 'show', :friendly_url => city.friendly_url}, {:class => 'large'} %>
                        </li>
                    <% end %>

				</ul>
			</div>
          <%= render :partial => 'partials/pop_and_xlinks', :locals => {:city => @region, :pop_companies => @pop_companies, :rand_city => @rand_city, :xlink => @xlink, :word_case => @case}%>
		</div>



<br>




