<div class="page-header">
			<h2>Новости отрасли</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="span-one-third">
				<!--
					<ul>
						<li class="selected danger"><a href="">Все темы</a></li>
						<li><a href="">Главные новости</a></li>
						<li><a href="">Пресс-релизы</a></li>
						<li><a href="">Законодательство</a></li>
					</ul>
				-->
				<img src="http://placehold.it/220x290/DEF/0069D6&text=AdSense+Block" alt="">
				</div>
				<div class="span-two-thirds">
						
                  <% k = 0 %>
                  <% @news_items.each do |news| %>
                      <% if k == 0 %>
					<div class="news main">				
						<h3><%= link_to news.title, {:controller => 'news_item', :action => 'show', :id => news.id} %></h3>
						<p><%= news.body.slice(0..200) %>...</p>
					</div>
                      <% k = 1 %>
                      <% else %>
					<div class="news">
						<h5><%= link_to news.title, {:controller => 'news_item', :action => 'show', :id => news.id} %></h5>
						<p><em><%= news.updated_at.strftime("%m/%d/%Y") %></em> - <%= news.body.slice(0..150) %></p>
					</div>

                    <% end %>
                    <% end %>
				</div>

			</div>
		</div>