<ul class="breadcrumb">
    <li><%= link_to 'Главная', root_url %><span class="divider">/</span></li>
    <li>Результаты поиска</li>
</ul>
<div class="page-header span12">
    <h2>Транспортные компании Краснодарского края</h2>
</div>
<div id="catalog" class="row">
  <div class="companies span12">
    <ul>
      <% @companies.each do |company| %>
          <li class="company">

            <div class="row"><%= link_to company.name, {:controller => 'company', :action => 'show', :friendly_url => company.city.friendly_url, :id => company.id}, {:class => 'header'} %></div>
            <!-- Категории -->
          <div class="info">
            <p class="address"><%= company.address %></p>
            <p class="phone">(4712) 32-45-16</p>
          </div>
              <% if (Time.now - company.updated_at) < 604800 %>
                        <span class="new green btn success disabled">Обновлено</span>
                      <% end %>

            </li>
          <% end %>
        </ul>
        <div class="pagination">
            <ul>

              <% if @current_page.to_i > 0 %>
              <li class="prev"><a href="<%= root_url + 'city/search_results?page=' + (@current_page.to_i - 1).to_s + '&keyword=' + @keyword + '&city=' + @city %>">← Previous</a></li>
              <% end %>

              <% for i in 0..@page_size - 1 do%>
              <% if @current_page.to_i == i %>
              <li class="active"><a href="#"><%= i + 1 %></a></li>
              <% else %>
              <li><a href="<%= root_url + 'city/search_results?page=' + i.to_s + '&keyword=' + @keyword + '&city=' + @city %>"><%= i + 1 %></a></li>
              <% end %>
              <% end %>
              <% if @current_page.to_i < @page_size - 1 %>
              <li class="next"><a href="<%= root_url + 'city/search_results?page=' + (@current_page.to_i + 1).to_s + '&keyword=' + @keyword + '&city=' + @city %>">Next »</a></li>
              <% end %>
            </ul>
        </div>
      </div>
    <div class="span4">
      <%= render :partial => 'partials/adsence' %>
    </div>
    </div>
