<ul class="breadcrumb">
    <li><%= link_to 'Главная', root_url %><span class="divider">/</span></li>
    <li>Результаты поиска</li>
</ul>
<div class="page-header span12">
    <h2>Мебельные компании</h2>
</div>
<div id="catalog" class="row">
  <div class="companies span12">
    <ul>
      <% @companies.each do |company| %>
          <li class="company">

            <div class="row"><%= link_to company.name, {:controller => 'company', :action => 'show', :friendly_url => company.city.friendly_url, :id => company.id}, {:class => 'header'} %></div>
            <!-- Категории -->
          <div class="info">
            <p class="address"><%= company.address %></p>
            <p class="phone">(4712) 32-45-16</p>
          </div>
              <% if (Time.now - company.updated_at) < 604800 %>
                        <span class="new green btn success disabled">Обновлено</span>
                      <% end %>

            </li>
          <% end %>
        </ul>

        <div class="apple_pagination">
            <%= will_paginate @companies, :container => false %>
        </div>

      </div>
    <div class="span4">
      <%= render :partial => 'partials/adsence' %>
    </div>
    </div>
