        <ul class="breadcrumb">
			<li><%= link_to 'Главная', root_url %><span class="divider">/</span></li>
            <li><%= link_to @region.name, {:controller => 'region', :action => 'show', :friendly_url => @region.friendly_url} %><span class="divider">/</span></li>
			<li><%= @city.name %></li>
		</ul>
        <div class="page-header">
			<h1>Мебель <%= @city.rod_case %></h1>
		</div>
        <div id="catalog" class="row">
		<div class="span16">
			<h4>Категории</h4>
			<div id="first-glance" class="well" style="padding-bottom:14px;">
				
                    <% if @current_category_id == 0 %>
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>" class="btn small primary">Все</a>
                    <% else %>
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>" class="btn small">Все</a>
                    <% end %>

					<% @categories.each do |category| %>
                        <% if category.id != @current_category_id %>
                                <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url}, {:class => 'btn small'} %>                            
                        <% else %>
                          
                            <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url}, {:class => 'btn small primary'} %>
                          
						<% end %>
					<% end %>
				
<!--
				<ul>
                    <% if @current_category_id == 0 %>
                        <li class="selected">
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>">Все</a>
                        </li>
                    <% else %>
                        <li>
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>">Все</a>
                        </li>
                    <% end %>

					<% @categories.each do |category| %>
                        <% if category.id != @current_category_id %>
                            <li>
                                <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url } %>
                            </li>
                        <% else %>
                          <li class="selected">
                            <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url} %>
                          </li>
                <% end %>

                <% end %>
                </ul>
-->
            </div>
			</div>
          <div class="companies span12">
            <ul>
              <% @companies.each do |company| %>
                  <li class="company">

                    <div class="row"></div>
                    <div class="tags">
					<h5><%= link_to company.name, {:controller => 'company', :action => 'show', :friendly_url => @city.friendly_url, :id => company.id}, {:class => 'header'} %></h5>
					Рубрики:
                      <% company.categories.each do |category| %>
                        <span class="tag"><%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url} %></span>
                      <% end %>


                    </div>
                  <div class="info">
                    <p class="address"><%= company.address %></p>
                    <p class="phone"><% if company.phones.first %> <%= company.phones.first.number %> <% end%></p>
                  </div>
                      <% if (Time.now - company.updated_at) < 604800 %>
                        <span class="new green btn success disabled">Обновлено</span>
                      <% end %>

                  </li>
                  <% end %>
                </ul>

                <%= will_paginate @companies %>

              </div>

            <%= render :partial => 'partials/pop_and_xlinks', :locals => {:city => @city, :pop_companies => @pop_companies, :rand_city => @rand_city, :xlink => @xlink, :word_case => @case}%>
            </div>
