        <ul class="breadcrumb">
			<li><%= link_to 'Главная', root_url %><span class="divider">/</span></li>
            <li><%= link_to @region.name, {:controller => 'region', :action => 'show', :friendly_url => @region.friendly_url} %><span class="divider">/</span></li>
			<li><%= @city.name %></li>
		</ul>
        <div class="page-header span12">
			<h2>Транспортные компании <%= @city.rod_case %></h2>
		</div>
        <div id="catalog" class="row">
			<div id="first-glance" class="span12 well">
				<ul>
                    <% if @current_category_id == 0 %>
                        <li class="selected">
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>">Все</a>
                        </li>
                    <% else %>
                        <li>
                            <a href="<%= root_url + 'city/' + @city.friendly_url.to_s %>">Все</a>
                        </li>
                    <% end %>

					<% @categories.each do |category| %>

                        <% if category.id != @current_category_id %>
                            <li>
                                <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url } %>
                            </li>
                        <% else %>
                          <li class="selected">
                            <%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url} %>
                          </li>
                <% end %>

                <% end %>
                </ul>
            </div>
          <div class="companies span12">
            <ul>
              <% @companies.each do |company| %>
                  <li class="company">

                    <div class="row"><%= link_to company.name, {:controller => 'company', :action => 'show', :friendly_url => @city.friendly_url, :id => company.id}, {:class => 'header'} %></div>
                    <div class="tags">Рубрики:
                      <% company.categories.each do |category| %>
                        <span class="tag"><%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @city.friendly_url, :category => category.url} %></span>
                      <% end %>


                    </div>
                  <div class="info">
                    <p class="address"><%= company.address %></p>
                    <p class="phone"><% if company.phones.first %> <%= company.phones.first.number %> <% end%></p>
                  </div>
                      <% if (Time.now - company.updated_at) < 604800 %>
                        <span class="new green btn success disabled">Обновлено</span>
                      <% end %>

                  </li>
                  <% end %>
                </ul>
                <div class="pagination">
			        <ul>
                      <% if @current_category_id != 0
                            appendix = @current_category.url
                         else
                            appendix = ''
                         end
                      %>
                      <% if @current_page.to_i > 0 %>
			          <li class="prev"><a href="<%= root_url + 'city/' + @city.friendly_url + '/' + appendix + '?page=' + (@current_page.to_i - 1).to_s %>">← Previous</a></li>
                      <% end %>

                      <% for i in 0..@page_size - 1 do%>
                      <% if @current_page.to_i == i %>
                      <li class="active"><a href="#"><%= i + 1 %></a></li>
                      <% else %>
                      <li><a href="<%= root_url + 'city/' + @city.friendly_url + '/' + appendix + '?page=' + i.to_s %>"><%= i + 1 %></a></li>
                      <% end %>
                      <% end %>
                      <% if @current_page.to_i < @page_size - 1 %>
			          <li class="next"><a href="<%= root_url + 'city/' + @city.friendly_url + '/' + appendix + '?page=' + (@current_page.to_i + 1).to_s %>">Next »</a></li>
                      <% end %>
			        </ul>
			    </div>
              </div>

            <%= render :partial => 'partials/pop_and_xlinks', :locals => {:city => @city, :pop_companies => @pop_companies, :rand_city => @rand_city, :xlink => @xlink, :word_case => @case}%>
            </div>







