<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<ul class="breadcrumb">
			<li><a href="<%= root_url %>">Главная</a><span class="divider">/</span></li>
            <li><a href="<%= root_url + @company.city.region.friendly_url %>"><%= @company.city.region.name %></a><span class="divider">/</span></li>
            <li><a href="<%= root_url + 'city/' + @company.city.friendly_url %>"><%= @company.city.name %></a><span class="divider">/</span></li>

			<li><%= @company.name %></li>
		</ul>
		<div class="row">
			<div class="company span12">
				<div id="profile" class="sp">
					<div class="page-header">
						<h2><%= @company.name %></h2>
					</div>
					<div id="company-info" class="span8">

                        <% if @company.address %>
						<p><span class="bold">Адрес: </span><%= @company.address %></p>
                        <% end %>

                        <% if @company.phones[0] %>
						<p><span class="bold">Телефон: </span>
                            <% @company.phones.each do |phone| %>
                                <% if phone.phone_type %>
                                    <%= phone.phone_type %>
                                <% end %>
                                <%= ' ' + phone.number %>
                            <% end %>
                        </p>
                        <% end %>
                        <% if @company.website %>
						<p><span class="bold">Сайт: </span><a href="<%= @company.website %>"><%= @company.website %></a></p>
                        <% end %>
						<div class="tags">
							<span class="bold">Вид деятельности: </span>
                            <% @company.categories.each do |category| %>
							<span class="tag"><%= link_to category.name, {:controller => 'city', :action => 'show', :friendly_url => @company.city.friendly_url, :category => category.url} %></span>,&nbsp;
                            <% end %>
						</div>
						<p class="description"><%= @company.description %></p>
						
						<blockquote>
						<p><small>Нашли ошибку? Вы можете <a href="<%= root_url + 'company/' + @company.city.friendly_url + '/' + @company.id.to_s + '/renew'   %>" >уточнить информацию о компании</a>.</small></p>  
						</blockquote>
						
						
					</div>
					<div id="images" class="span4">
					
					<a href="<%= root_url + 'company/' + @company.city.friendly_url + '/' + @company.id.to_s + '/contact' %>" id="contact-btn" class="btn success span">Связаться с компанией</a>
					
					<div class="my_social_buts">					
					
					<!-- Put this div tag to the place, where the Like block will be -->
                    <div id="vk_like"></div>
                    <script type="text/javascript">
                    VK.Widgets.Like("vk_like", {type: "button"});
                    </script>
					<div class="fb-like" data-href="www.mebelincity.ru" data-send="false" data-layout="box_count" data-width="45" data-show-faces="false"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
					
					</div>
				    <!--
                        <% if @company.image_link
                                 if File.exists?( Dir.pwd + "/public/companies_images/" + @company.image_link )
                                   img = root_url + 'companies_images/' + @company.image_link
                                else
                                   img = 'http://placehold.it/210x180'
                                end
                            else
                                img = 'http://placehold.it/210x180'
                            end
                        %>
                        <img src="<%= img %>" alt="" class="large">
                        <img src="http://placehold.it/65x50/" alt="" class="thumb">
                        <img src="http://placehold.it/65x50/" alt="" class="thumb">
                        <img src="http://placehold.it/65x50/" alt="" class="thumb">
                    -->
                        
					</div>

					

					<div id="services">
						<div class="map span8">
						<h4><%= @company.name %> на карте</h4>
						<div class="onmap_l">

                                    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=AJsjvU4BAAAAcNppPAIAvlmNYseKOFppZ_xewxi6YRUSYVoAAAAAAAAAAADjb7QkalSwSlKHQJXhBb5IOnxYlQ=="
	                        type="text/javascript"></script>
                            <script type="text/javascript">
                            var latitude=parseFloat('');
                            var longitude=parseFloat('');
                            var maptitle="<%= @company.name %>";
                            var geocoding='<%= @company.address %>';

                                YMaps.jQuery(function () {
                                    var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
                                    map.addControl(new YMaps.Zoom());
                                    if ((latitude>0)&&(longitude>0))
                                    {
                                        geopoint=new YMaps.GeoPoint(latitude,longitude);
                                        map.setCenter(geopoint, 14);
                                        map.openBalloon(geopoint, maptitle, {hasCloseButton: false, mapAutoPan: 0});
                                    }
                                    else
                                    {
                                        var geocoder = new YMaps.Geocoder(geocoding);
                                        // По завершению геокодирования инициализируем карту первым результатом
                                        YMaps.Events.observe(geocoder, geocoder.Events.Load, function (geocoder) {
                                            if (geocoder.length()) {
                                                map.setBounds(geocoder.get(0).getBounds());
                                                map.openBalloon(geocoder.get(0).getGeoPoint(), maptitle, {hasCloseButton: false, mapAutoPan: 0});
                                                map.setZoom(14);
                                            }
                                        });
                                    }
                                })
                            </script>

                            <div id="YMapsID" style="width:480px;height:300px"></div>

                        </div>
					</div>
					</div>
                  <!-- Put this div tag to the place, where the Comments block will be -->
                    <div id="vk_comments"></div>
                    <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
                    </script>

				</div>

			</div>
                <%= render :partial => 'partials/pop_and_xlinks', :locals => {:city => @company.city, :pop_companies => @pop_companies, :rand_city => @rand_city, :xlink => @xlink, :word_case => @case}%>
		    </div>
         </div>



