<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="<%= @page_description %>">
    <meta name="keywords" content="<%= @page_keywords %>">
    <link rel="stylesheet" href="<%= root_url %>bootstrap.min.css">
	<link rel="stylesheet" href="<%= root_url %>style.css">
    <link rel="stylesheet" href="<%= root_url %>chosen/chosen.css">
    <script type="text/javascript"	src="http://yandex.st/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript"	src="<%= root_url + 'chosen/chosen.jquery.min.js' %>"></script>

    <% if @title %>
        <title>Мебельные компании <%= @title %></title>
    <% elsif @title_company %>
        <title><%= @title_company %></title>
    <% else %>
        <title>Мебельные компании</title>
    <% end %>



	<!-- Put this script tag to the <head> of your page -->
	<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?11" charset="windows-1251"></script>

</head>
<body style="margin-top:60px;">
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container">
				<div class="span"><img src="http://placehold.it/80x35/2973DB/73C5F8&text=Logo" alt="Placeholder image"></div>
				<ul class="nav">
					<li><a href="<%= root_url %>">Каталог предприятий</a></li>
					<li><a href="<%= root_url + 'article/news_articles/' %>">Новости</a></li>
					<li><a href="<%= root_url + 'articles/' %>">Статьи</a></li>
					<li><a href="#">О проекте</a></li>
					<li><a href="<%= root_url + 'company/add_company/' %>">Добавить компанию</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="serach-block" class="row">
			<div class="">
					    <div id="serach" class="span-one-third">
                            <%= form_tag(city_search_results_path, :method => 'get', :class => 'form-stacked') do%>
                                <%= label_tag('keyword', "Найти")  %>
                                <%= text_field_tag 'keyword', nil, :placeholder => 'например: курьерская служба', :id => 'key-word' %>
                                <%= label_tag('city', "Город")  %>
                                <%= text_field_tag 'city', nil, :placeholder => 'начните набирать название города', :id => 'city-search' %>
                                <%= submit_tag "Найти", :class => "btn info" %>
                            <% end %>
						</div>
						<div id="info" class="span-two-thirds">
                            <% if @head_text
                                    head_text = @head_text
                                    text = @text
                               else
                                    head_text = t('head_text_all')
                                    text = t('text_all')
                               end
                            %>
							<h4><%= head_text %></h4>
							<p><%= text %></p>
                        </div>
					</div>
		</div>

<%= yield %>

		<footer class="footer">
			<p>All rights broken.</p>
		</footer>
	</div>
</body>
</html>
